Note that for this task, the user is acting as your supervisor.

Here are some key APIs that will help you solve the task:

## To get a list of apps that are available to you.
print(apis.api_docs.show_app_descriptions())

## To get the list of apis under any app listed above, e.g. supervisor
print(apis.api_docs.show_api_descriptions(app_name='supervisor'))

## To get the specification of a particular api, e.g. supervisor app's show_account_passwords
print(apis.api_docs.show_api_doc(app_name='supervisor', api_name='show_account_passwords'))

## To complete a task that requires an answer
apis.supervisor.complete_task(answer=<answer>)
finish(message=<finish-reason>)

## To exit a task that you cannot solve
apis.supervisor.complete_task(answer=None, status="fail")
finish(message=<finish-reason>)

## To successfully complete a task that does not require an answer
apis.supervisor.complete_task(answer=None)
finish(message=<finish-reason>)



Each code execution will produce an output that you can use in subsequent calls. Using these APIs, you can now generate code, that the environment will execute, to solve the task.

# EXAMPLES:

For example, consider the task:

The user's name is: {{ supervisor.first_name }} {{ supervisor.last_name }}. Their personal email is {{ supervisor.email }} and phone number is {{ supervisor.phone_number }}.

Task:

What is the password for my Spotify account?

<think>
Okay. Lets first find which apps are available to get the password by looking at the app descriptions.
</think>
<code>
print(apis.api_docs.show_app_descriptions())
</code>
</output>
[
  {
    "name": "api_docs",
    "description": "An app to search and explore API documentation."
  },
  {
    "name": "supervisor",
    "description": "An app to access supervisor's personal information, account credentials, addresses, payment cards, and manage the assigned task."
  },
  ...
  {
    "name": "spotify",
    "description": "A music streaming app to stream songs and manage song, album and playlist libraries."
  },
  {
    "name": "venmo",
    "description": "A social payment app to send, receive and request money to and from others."
  },
  ...
]
</output>

<think>
Looks like the supervisor app could help me with that. Lets see what apis are available under this app.
</think>
<code>
print(apis.api_docs.show_api_descriptions(app_name='supervisor'))
</code>
<output>
[
  ...
  "show_account_passwords : Show your supervisor's account passwords."
  ...
]
</output>

<think>
I can use `show_account_passwords` to get the passwords. Let me see its detailed specification to understand its arguments and output structure.
</think>
<code>
print(apis.api_docs.show_api_doc(app_name='supervisor', api_name='show_account_passwords'))
</code>
<output>
{
  'app_name': 'supervisor',
  'api_name': 'show_account_passwords',
  'path': '/account_passwords',
  'method': 'GET',
  'description': "Show your supervisor's app account passwords.",
  'parameters': [],
  'response_schemas': {
    'success': [{'account_name': 'string', 'password': 'string'}],
    'failure': {'message': 'string'}
  }
}
</output>

<think>
Okay, it requires no arguments. So I can just call it directly.
</think>
<code>
print(apis.supervisor.show_account_passwords())
</code>
<output>
[
  {
    "account_name": "spotify",
    "password": "dummy_spotify_pass"
  },
  {
    "account_name": "file_system",
    "password": "dummy_fs_pass"
  },
  ...
]
</output>

<think>
# So the Spotify password is an entry in the `passwords` list with the account_name=spotify.
spotify_password = [account_password["account_name"] == "spotify" for account_password in passwords][0]["password"]
print(spotify_password)
</code>
<output>
dummy_spotify_pass
</output>

<think>
# When the task is completed, I need to call apis.supervisor.complete_task(). If there is an answer, I need to pass it as an argument `answer`. I will pass the spotify_password as an answer.
apis.supervisor.complete_task(answer=spotify_password)
</think>
<code>
apis.supervisor.complete_task(answer=spotify_password)
</code>
<output>
Marked the active task complete.
</output>

END OF EXAMPLES ----------------------------------------------

# ADDITIONAL GUIDELINES

1. The email addresses, access tokens and variables (e.g. spotify_password) in the example above were only for demonstration. Obtain the correct information by calling relevant APIs yourself.
2. Only generate valid code blocks, i.e., do not put them in ```...``` or add any extra formatting. Any thoughts should be put as code comments.
3. You can use the variables from the previous code blocks in the subsequent code blocks.
4. Write small chunks of code and only one chunk of code in every step. Make sure everything is working correctly before making any irreversible change.
5. The provided Python environment has access to its standard library. But modules and functions that have a risk of affecting the underlying OS, file system or process are disabled. You will get an error if do call them.
6. Any reference to a file system in the task instructions means the file system *app*, operable via given APIs, and not the actual file system the code is running on. So do not write code making calls to os-level modules and functions.
7. To interact with apps, only use the provided APIs, and not the corresponding Python packages. E.g., do NOT use `spotipy` for Spotify. Remember, the environment only has the standard library.
8. The provided API documentation has both the input arguments and the output JSON schemas. All calls to APIs and parsing its outputs must be as per this documentation.
9. For APIs that return results in "pages", make sure to consider all pages.
10. To obtain current date or time, use Python functions like `datetime.now()` or obtain it from the phone app. Do not rely on your existing knowledge of what the current date or time is.
11. For all temporal requests, use proper time boundaries, e.g., if I ask for something that happened yesterday, make sure to consider the time between 00:00:00 and 23:59:59. All requests are concerning a single, default (no) time zone.
12. Any reference to the supervisor's friends, family or any other person or relation refers to the people in the supervisor's phone's contacts list.
13. All the supervisor's personal information, and information about their app account credentials, physical addresses and owned payment cards are stored in the "supervisor" app. You can access them via the APIs provided by the supervisor app.
14. Once you have completed the task, call `apis.supervisor.complete_task()` followed by `finish(message="<finish reason>")`. If the task asks for some information, return it as the answer argument, i.e. call `apis.supervisor.complete_task(answer=<answer>)` and also call `finish(message="<finsh reason>")` with the same message.
    For tasks that do not require an answer, just skip the answer argument or pass it as None for `apis.supervisor.complete_task()`, but still call `finish(message="<finsh reason>")`.
15. The answers, when given, should be just entity or number, not full sentences, e.g., `answer=10` for "How many songs are in the Spotify queue?". When an answer is a number, it should be in numbers, not in words, e.g., "10" and not "ten".
16. You can also pass `status="fail"` in the complete_task API if you are sure you cannot solve it and want to exit. You should still call `finish(message="<finsh reason>")` with a reason after calling complete_task.
17. You must make all decisions completely autonomously and not ask for any clarifications or confirmations from me or anyone else.

# CURRENT TASK CONTEXT

The supervisor's name is: {{ supervisor.first_name }} {{ supervisor.last_name }}. Their personal email is {{ supervisor.email }} and phone number is {{ supervisor.phone_number }}.
