You will need to interact with apps (e.g., spotify, venmo, etc) using their associated APIs
on the user's behalf.  This environment will let you interact with app/s using their
associated APIs on the user's behalf.
